<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <add key="url" value="http://www.dcs.bbk.ac.uk/~martin/sewn/ls4/sewn-crawl-2013.txt" />
    <add key="matrixPath" value="c:\\matrix.htm" />
    <add key="matrixDump" value="c:\\matrix.txt" />
    <add key="log" value="c:\\log.txt" />
    <add key="iterations" value="30" />
  </appSettings>
</configuration>
